<table class="table table-bordered ">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>EMAIL</th>
            <th>PROFILE PHOTO</th>
            <th>USER TYPE</th>
            <th>ACTION</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let e of users">
            <td>{{e.userId}}</td>
            <td>{{e.name}}</td>
            <td>{{e.email}}</td>
            <td><img [src]="'data:image/png;base64,'+e.profilephoto" width="100px" height="100px"/></td>
            <td>{{e.userType}}</td>
            <td>
                <section>
                <div class="example-button-row">
                  <div class="example-flex-container">
                    <div class="example-button-container">
                      <button mat-fab color="warn" aria-label="Example icon button with a delete icon" (click)="deleteuser(e.userId)">
                        <mat-icon>delete</mat-icon>
                      </button>
                   
                    </div>
                  </div>
                </div>
              </section></td>
            <mat-divider></mat-divider>

        </tr>
                         
    </tbody>
</table>