<style>
    .blink {
        animation: blinker 5.5s linear infinite;
        color: red;
        font-family: sans-serif;
    }
    @keyframes blinker {
        50% {
            opacity: 0;
        }
    }
</style>

<div style="margin-top: 20px;" class="card">

    <!-- <label >VIEW LOAN APPLICATIONS:-</label> -->
    <h3 style=" margin-left: 380px;" class="blink" >My Loan Applications</h3>
    <hr>
   
  <select id="cars" class="btn" [(ngModel)]="enquirystatus"(click)="onselectstatus()" >
    <option value="CREATED">Submit Enquiries</option>
    <option value="CIBIL_REQUIRED">Cibil Checking</option>
    <option value="APPROVED">Approved Loans</option>
      <option value="REJECTED">Rejected Loans</option>
      <option value="PENDING_OOPS">Peding To OOPS</option>
      <option value="DISBURSED">Disbursed Loans</option>
    </select>

</div>
              
      <table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>AGE</th>
            <th>EMAIL</th>
            <th>MOBILE NUMBER</th>
            <th>PAN CARD NUMBER</th>
            <th>ENQUIRY STATUS</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let e of enquiries">
            <td>{{e.eid}}</td>
            <td>{{e.firstName}}</td>
            <td>{{e.lastName}}</td>
            <td>{{e.age}}</td>
            <td>{{e.email}}</td>
            <td>{{e.mobileNumber}}</td>
            <td>{{e.pancardNumber}}</td>
            <td>{{e.enquiryStatus}}</td>
        </tr>
                         
    </tbody>
</table>