<table class="table table-bordered " style="width: 1300px;">
    <thead>
        <tr>
            <th>LOAN NUMBER</th>
            <th>ADHAR CARD</th>
            <th>ADDRRESS PROOF</th>
            <th>PAN CARD</th>
            <th>PHOTO</th>
            <th>SIGNATURE</th>
            <th>SALARY SLIP</th>
            <th>VERIFY</th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let e of customers">
            <td>{{e.currentLoanDetails.currentLoanNumber}}</td>
            <td><img [src]="'data:image/png;base64,'+e.allPersonalDoc.addharCard" width="100px" height="100px"/></td>
            <td><img [src]="'data:image/png;base64,'+e.allPersonalDoc.addressProof" width="100px" height="100px"/></td>
            <td><img [src]="'data:image/png;base64,'+e.allPersonalDoc.panCard" width="100px" height="100px"/></td>
            <td><img [src]="'data:image/png;base64,'+e.allPersonalDoc.photo" width="100px" height="100px"/></td>
            <td><img [src]="'data:image/png;base64,'+e.allPersonalDoc.signature" width="100px" height="100px"/></td>
            <td><img [src]="'data:image/png;base64,'+e.allPersonalDoc.salarySlips" width="100px" height="100px"/></td>
            <td class="btn btn-success" (click)="verifycustomer(e.customerId)"><button>VERIFY</button></td>
            <td class="btn btn-danger"><button>REJECT</button></td>
            
      

        </tr>
                         
    </tbody>
</table>