<!-- <nav class="navbar">
    <h1>HELLO CUSTOMER</h1>
      <div >
       <button routerLink="about">About Us</button>
       <button routerLink="contact">Contact Us</button>
       <button>Enquiry</button>
       <button routerLink="login">Sign In</button>
      </div>
</nav> -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark">

  <div class="collapse navbar-collapse " id="navbarNavDropdown">
    <ul class="navbar-nav">
       <img src="assets/kotaklogo.png"  width="155px">
    
        <a class="nav-link navbar-brand btn btn-group btn-group-toggle" href="#" >Home</a>
    
    
        <a class="nav-link navbar-brand btn btn-group btn-group-toggle"   routerLink="about">About Us</a>
    
     
        <a class="nav-link navbar-brand nav-link btn btn-group btn-group-toggle" routerLink="contact">Contact Us</a>
    
     
        <a class="nav-link navbar-brand nav-link btn btn-group btn-group-toggle" routerLink="enquiry">Enquiry</a>
   
        <a class="nav-link navbar-brand nav-link btn btn-group btn-group-toggle" routerLink="login">Login</a>
     
     
      </ul>
     
  </div>
</nav>


<nav class="navbar fixed-bottom">
  <div style="margin-left: 2%; ">
    <i class="fa fa-envelope-o navbar-brand"  aria-hidden="true">kotak@gmail.com</i>

  </div>
</nav>