<div class="main-border">
    <div class="material">
      <div>
        <nav class="appNavBar">
           
            <h1 style="color: white;">QUICK LOAN APPLICATION</h1>
            
        </nav>
    
        <label style="margin-top: 2%; margin-left: 29%; font-size: larger;">* Provide Pan Number Before Fill Form</label>
    
        <div class="col-md-6 mt-md-0 mt-3" style="margin-left: 6%; ">
          <label style="margin-top: 2%; margin-left: 48%;">Enter Pan Number</label>
        <input type="text" class="form-control" required style="margin-left: 46%;" [(ngModel)]="pancardNumber" >
       <button class="btn btn-danger" style="margin-left: 75%;width: 200px;" (click)="showform()">Find</button>
    </div>
    
      <hr style="margin-left: 5%; width: 1200px;">
     
      <div class="row rownew" *ngIf="enquiries">
        <div class="col-md-6 mt-md-0 mt-3">
          <label>First Name</label>
          <input type="text" class="form-control" required disabled [value]="enquiries.firstName" >
        
      </div>
      <div class="col-md-6 mt-md-0 mt-3">
          <label>Last Name</label>
          <input type="text" class="form-control" required disabled [value]="enquiries.lastName">
        
      </div>
      
      <div class="col-md-6 mt-md-0 mt-3">
          <label>Loan Number</label>
          <input type="text" class="form-control" required disabled [value]="enquiries.caseid">
        
      </div>
      <div class="col-md-6 mt-md-0 mt-3">
          <label>Application Staged</label>
          <input type="text" class="form-control" required disabled [value]="enquiries.enquiryStatus">
        
      </div>
    </div>
        <form style="margin-top: 40px" *ngIf="enquiries" [formGroup]="cpvform" (ngSubmit)="addcustomer()">
          <label style="margin-top: 2%; margin-left: 6%; font-size: larger;">Fill Form here</label>
    
        <mat-accordion>
           
            <mat-expansion-panel >
              <mat-expansion-panel-header >
               
                <mat-panel-title >
             
             
                </mat-panel-title>
                <hr>
                <mat-panel-description  >
                     Customer Basic Details
                </mat-panel-description>
              </mat-expansion-panel-header>
             
              <div class="row">    <!--Customer Details Entity-->
                <div class="col-md-6 mt-md-0 mt-3">
                      <label>Customer Name</label>
                    <input type="text" class="form-control" required formControlName="customerName" >
                </div><br>
          
                <div class="col-md-3 mt-md-0 mt-3">
                    <label>Age</label>
                  <input type="number" class="form-control" required formControlName="customerAge">
              </div>
              <div class="row">
                <div class="col-md-6 mt-md-0 mt-3">
                    <label>Date Of Birth</label>
                    <input type="date" class="form-control" required formControlName="customerDateOfBirth">
                </div>
                <div class="col-md-6 mt-md-0 mt-3">
                    <label>Gender</label>
                 
                    <div class="d-flex align-items-center mt-1">
                        <select id="sub" required formControlName="customerGender">
                            <option value="" selected hidden>Choose Option</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 mt-md-0 mt-3">
                  <label>Email</label>
                  <input type="text" class="form-control" required formControlName="customerEmail" placeholder="domain123@gmail.com">
              </div>
              <div class="col-md-6 mt-md-0 mt-3">
                  <label>Mobile Number</label>
                  <input type="number" class="form-control" required  formControlName="customerMobileNumber">
              </div>
        
              <div class="col-md-6 mt-md-0 mt-3">
                  <label>Total Loan Required</label>
                  <input type="number" class="form-control" required formControlName="customerTotalLoanRequired">
              </div>
            </div>
        
            </div>   
           </mat-expansion-panel>
          </mat-accordion>
        
        <mat-accordion> 
            <mat-expansion-panel>
              <mat-expansion-panel-header >
                <mat-panel-title>
               
                </mat-panel-title>
                <mat-panel-description >
                 Address Details 
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="row" formGroupName="customerAddress">
              <div class="col-md-6 mt-md-0 mt-3">
                <label>Customer Address</label>
                <input type="text" class="form-control" required>
              
            </div>
            <div class="col-md-6 mt-md-0 mt-3">
                <label>City</label>
             
                <div class="d-flex align-items-center mt-2">
                    <select id="sub" required  formControlName="customerCityname">
                        <option value="" selected hidden>Choose Option</option>
                        <option value="Pimpari Chinchwad">Pimpari Chinchwad</option>
                        <option value="Pune">Pune</option>
                        <option value="Mumbai">Mumbai</option>
                        <option value="Amravati">Amravati</option>
                        <option value="Nagpur">Nagpur</option>
                        <option value="Ralegaon">Ralegaon</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6 mt-md-0 mt-3">
                <label>District</label>
             
                <div class="d-flex align-items-center mt-2">
                    <select id="sub" required style="width: 800px;" formControlName="customerDistrict">
                        <option value="" selected hidden>Choose Option</option>
                        <option value="Pune">Pune</option>
                        <option value="Mumbai">Mumbai</option>
                        <option value="Yavatmal">Yavatmal</option>
                        <option value="Amravati">Amravati</option>
                        <option value="Nagpur">Nagpur</option>
                       
                    </select>
                </div>
            </div>
            <div class="col-md-6 mt-md-0 mt-3">
                <label>State</label>
             
                <div class="d-flex align-items-center mt-2">
                    <select id="sub" required  formControlName="customerState">
                        <option value="" selected hidden>State</option>
                        <option value="Maharashtra">Maharashtra</option>
                        <option value="Gujrat">Gujrat</option>
                        <option value="Madhya Pradesh">Madhya Pradesh</option>
                        <option value="Jharkhand">Jharkhand</option>
                        <option value="Bihar">Bihar</option>
                       
                    </select>
                </div>
            </div>
          </div> 
        </mat-expansion-panel>
          </mat-accordion>
          <mat-accordion>
           
            <mat-expansion-panel >
              <mat-expansion-panel-header >
               
                <mat-panel-title>
             
             
                </mat-panel-title>
                <hr>
                <mat-panel-description>
                  Enter Customer Profession Details
                </mat-panel-description>
              </mat-expansion-panel-header>
             
              <div class="row" formGroupName="profession">    <!--Customer Details Entity-->
                 <!--Profession Entity-->
                 <div class="col-md-6 mt-md-0 mt-3"> 
                  <label>Profession</label>
               
                  <div class="d-flex align-items-center mt-2">
                      <select id="sub" required formControlName="professionType">
                          <option value="" selected hidden>Choose Your Profession</option>
                          <option value="Salaried Government Employee">Salaried Government Employee</option>
                          <option value="Salaried PVT LTD. Employee">Salaried PVT LTD. Employee</option>
                          <option value="Self Employeed Professional">Self Employeed Professional</option>
                          <option value="Self Employeed Non-Professional">Self Employeed Non-Professional</option>
                          <option value="Freelancer">Freelancer</option>
                          <option value="Student">Student</option>
                      </select>
                  </div>
              </div>
        
              <div class="col-md-6 mt-md-0 mt-3">
                  <label>Company Name</label>
                  <input type="text" class="form-control" required formControlName="companyname">
                
              </div>  
            </div>   
           </mat-expansion-panel>
           </mat-accordion>
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header >
                <mat-panel-title>
               
                </mat-panel-title>
                <mat-panel-description>
                 Enter Current Loan Details
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="row" formGroupName="currentLoanDetails">
                <div class="col-md-6 mt-md-0 mt-3">
                  <label>Loan Amount</label>
                  <input type="number" class="form-control" required formControlName="loanAmount" [(ngModel)]="amount">
                
              </div>
              <div class="col-md-6 mt-md-0 mt-3">
                <label>Tenure</label>
              <div class="d-flex align-items-center mt-2">
              
                <select id="sub" required formControlName="tenure"  [(ngModel)]="this.tenure" (click)="Emical()">
                    <option value="12">12</option>
                    <option value="24">24</option>
                    <option value="36">36</option>
                    <option value="48">48</option>
                </select>
               
            </div>
            </div>
              <div class="col-md-6 mt-md-0 mt-3">
                  <label>Rate Of Interest</label>
                  <input type="number" class="form-control" required [value]="interest" disabled="disabled"  formControlName="rateOfInterest">
                  
              </div>
        
              <div class="col-md-6 mt-md-0 mt-3">
                  <label>Total Amount To Be Paid Double</label>
                  <input type="number" class="form-control" required [value]="totalamountpayable"  formControlName="totalAmountToBePaidDouble">
                
              </div>
              <div class="col-md-6 mt-md-0 mt-3">
                  <label>Processing Fees</label>
                  <input type="number" class="form-control" required value='500' disabled formControlName="processingFees">
              </div>
              <div class="col-md-6 mt-md-0 mt-3">
                  <label>Total Interest</label>
                  <input type="number" class="form-control" required [value]="totalinterestonamt" disabled formControlName="totalInterest">
                
              </div>
        
          </div> 
          <div class="col-md-3 mt-md-0 mt-3 row">
            <label>Emi Amount Monthly</label>
            <input type="number" class="form-control" required [value]="emi" disabled formControlName="emiAmountMonthly" style="margin-left: 15px;">
          
        </div>
        </mat-expansion-panel>
          </mat-accordion>
          <!-- <mat-accordion>
          
            <mat-expansion-panel >
              <mat-expansion-panel-header >
               
                <mat-panel-title>
             
             
                </mat-panel-title>
                <hr> -->
                <!-- <mat-panel-description>
                  Enter EMI Details
                </mat-panel-description>
              </mat-expansion-panel-header>
             
        
           </mat-expansion-panel>
           </mat-accordion> -->
          <mat-accordion> 
            <mat-expansion-panel>
              <mat-expansion-panel-header >
                <mat-panel-title>
               
                </mat-panel-title>
                <mat-panel-description>
                 Enter Account Details Information 
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="row" formGroupName="accountDetails">
                <div class="col-md-6 mt-md-0 mt-3"> 
                  <label>Bank Account Type</label>
                  <div>
                      <select id="sub" required style="width:400px ;" formControlName="accounType">
                          <option value="" selected hidden>Choose Your Account Type</option>
                          <option value="saving">Savings</option>
                          <option value="current">Current</option>
                      </select>  
                  </div> 
                  
              </div>
              <div class="col-md-6 mt-md-0 mt-3">
                  <label>Bank Account Number</label>
                  <input type="number" class="form-control" required formControlName="accountNumber">
                
              </div>
              <div class="col-md-6 mt-md-0 mt-3">
                  <label>Account Holder Name</label>
                  <input type="text" class="form-control" required formControlName="accountHolderName">
                
              </div>
              <div class="col-md-6 mt-md-0 mt-3">
                  <label>Bank Name</label>
                  <input type="text" class="form-control" required formControlName="bankname">
                
              </div>  
          </div> 
        </mat-expansion-panel>
          </mat-accordion>
          
          <mat-accordion>
           
            <mat-expansion-panel >
              <mat-expansion-panel-header>
               
                <mat-panel-title>
             
             
                </mat-panel-title>
                <hr>
                <mat-panel-description>
                  Enter Guarantor Details
                </mat-panel-description>
              </mat-expansion-panel-header>
             
              <div class="row" formGroupName="gurantorDetails">    <!--Customer Details Entity-->
                <div class="col-md-6 mt-md-0 mt-3">
                  <label>Guarantor Name</label>
                  <input type="text" class="form-control" required formControlName="guarantorName">
                
              </div>
              <div class="col-md-6 mt-md-0 mt-3"> 
                  <label>Guarantor Relationship With Customer</label>
                  <div>
                      <select id="sub"  required style="width:400px ;" formControlName="guarantorRelationshipWithCustomer">
                          <option value="Father">Father</option>
                          <option value="Mother">Mother</option>
                          <option value="Brother">Brother</option>
                          <option value="Wife">Wife</option>
                          <option value="Sister">Sister</option>
                          <option value="Friend">Friend</option>
                      </select>  
                  </div> 
                  
              </div>
           
              <div class="col-md-6 mt-md-0 mt-3">
                  <label>Guarantor Aadharcard Number</label>
                  <input type="number" class="form-control" required formControlName="guarantorAadharCardNumber">
                
              </div>  
                 
        
            </div>   
           </mat-expansion-panel>
           </mat-accordion>
          <mat-accordion >
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
               
                </mat-panel-title>
                <mat-panel-description >
               Upload Customer Documents
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="row">
                <div class="col-md-6 mt-md-0 mt-3">
                  <label>Address Proof:-</label>
                  <!-- <img src="{{image}}" width=10% height = 25%> --> 
                <input type="file" (change)="onselectaddressproof($event)">
              </div> 
              <div class="col-md-6 mt-md-0 mt-3">
                <label>Pan Card:-</label>
                <!-- <img src="{{image}}" width=10% height = 25%> --> 
              <input type="file" (change)="onselectpan($event)">
            </div>  
            <div class="col-md-6 mt-md-0 mt-3">
              <label>Aadhar Card:-</label>
              <!-- <img src="{{image}}" width=10% height = 25%> --> 
            <input type="file" (change)="onselectadhar($event)">
          </div> 
          <div class="col-md-6 mt-md-0 mt-3">
            <label>Photo:-</label>
            <!-- <img src="{{image}}" width=10% height = 25%> --> 
          <input type="file" (change)="onselectphoto($event)">
        </div> 
           
        <div class="col-md-6 mt-md-0 mt-3">
          <label>Signature:-</label>
          <!-- <img src="{{image}}" width=10% height = 25%> --> 
        <input type="file" (change)="onselectsignature($event)">
        </div> 
        
        <div class="col-md-6 mt-md-0 mt-3">
          <label>Salary Slip:-</label>
          <!-- <img src="{{image}}" width=10% height = 25%> --> 
        <input type="file" (change)="onselectslip($event)">
        <br>
     
        </div> 
        
          </div> 
        </mat-expansion-panel>
        
        
          </mat-accordion>
          
          <button type="submit" class="btn btn-success" style="margin-top: 25px; margin-bottom: 40px; width: 250px; margin-left: 450px;">Submit</button>
    
        </form>
      </div>
    </div>
        </div>