.mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
    padding-top: 50px;
  }
  button{
    height: 40px;
    width: 80px;
  }
  form{
    border: 1.2px;
    margin-left: 5%;
    margin-right: 5%;
  }
 
label{
  color: brown;
  font-size: medium;
  font: bold;
 
}
input{
  margin-top: 15px;
  margin-bottom: 20px;
}
select{
  width: 500px;
  height: 40px;
  margin-top: 9px;
  border-style: dotted ;
  border-color: rgb(94, 14, 152);
 
}
.main-border{
  border: 2px solid;
display: flex;
justify-content: center;
margin-top: 10px;
margin-left: 4%;
margin-right: 5%;
width: 1400px;


}
mat-panel-description{
  font-size: 17px;
  color: rgb(13, 9, 15);
 
}
mat-expansion-panel-header{
  border: 1px ;
 

}
mat-expansion-panel{
  width:1200px;
}

.appNavBar{

  display: flex;
  justify-content: center ;
  background-color: #b92f2f;
  width: 1200px;
  margin-left: 5%;
  margin-top: 20px;
  
  }
 .rownew{

    width: 1200px;
    margin-left: 5%;
  }
  /* button{
      margin-top: 10px;
     height: 35px;
     color: rgb(250, 250, 250);
      background-color: rgb(165, 159, 42);
  } */

  .material{
    margin-right: 25%;
    margin-left: 18%;
  }