

<table class="table table-bordered">
    <thead>
        <tr>
            <th>LOAN ID</th>
            <th>CUSTOMER NAME</th>
            <th>EMAIL ID</th>
            <th>CUSTOMER MOBILE</th>
            <th>STATUS</th>
            <th>LOAN AMOUNT</th>
            <th>ACCOUNT NUMBER</th>
            <th>BANK NAME</th>
            <th>DISBURSED</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let e of customers ">
            <td>{{e.currentLoanDetails.currentLoanNumber}}</td>
            <td>{{e.customerName}}</td>
            <td>{{e.customerEmail}}</td>
            <td>{{e.customerMobileNumber}}</td>
            <td style="color: green;">{{e.customerstatus}}</td>
            <td>{{e.customerTotalLoanRequired}}</td>
            <td>{{e.accountDetails.accountNumber}}</td>
            <td style="color: red;">{{e.accountDetails.bankname}}</td>
           <td style="margin-bottom: 80px;"><button class="btn btn-success sndbtn" (click)="disbursed(e.customerId)">DISBURSE</button></td>
            
        </tr>
                         
    </tbody>
</table>