
<table class="table table-bordered">
    <thead>
        <tr>
            <th>CASE ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>PAN CARD NUMBER</th>
            <th>ENQUIRY STATUS</th>
            <th>CUSTOMER VERIFICATION STATUS</th>
            <th>DISBURSED</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let e of ">
            <td>{{e.caseid}}</td>
            <td>{{e.firstName}}</td>
            <td>{{e.lastName}}</td> 
            <td>{{e.pancardNumber}}</td>
            <td>{{e.enquiryStatus}}</td>
            <td>{{e.enquiryStatus}}</td>
           <td style="margin-bottom: 80px;"><button class="btn btn-success sndbtn">DISBURSED</button></td>
         
        </tr>
                         
    </tbody>
</table>