.row{
   display: flex;
}
.col-1{
    background-color: rgb(241, 244, 239);
    width: 300px;
    height: 800px;
   
}
.col-2{
    background-color: rgb(255, 252, 254);
    width: 70%;
    height: 550px;
}

