

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>AGE</th>
            <th>EMAIL</th>
            <th>MOBILE NUMBER</th>
            <th>PAN CARD NUMBER</th>
            <th>ENQUIRY STATUS</th>
            <th>VERIFY ENQUIRY</th>
            <th>CIBIL SCORE</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let e of enquiries">
            <td>{{e.eid}}</td>
            <td>{{e.firstName}}</td>
            <td>{{e.lastName}}</td>
            <td>{{e.age}}</td>
            <td>{{e.email}}</td>
            <td>{{e.mobileNumber}}</td>
            <td>{{e.pancardNumber}}</td>
            <td [hidden]="e.enquiryStatus=='CIBIL_CHECKED'" class="red">{{e.enquiryStatus}}</td>
            <td [hidden]="e.enquiryStatus=='CIBIL_REQUIRED'" class="green">{{e.enquiryStatus}}</td>
            <td><button class="btn btn-primary" (click)="getcibil(e)" [hidden]="e.enquiryStatus=='CIBIL_CHECKED'">Check Cibil</button>
            <button class="btn btn-success" (click)="sendtocredit(e.eid)"[hidden]="e.enquiryStatus=='CIBIL_REQUIRED'">Send To Credit</button></td>
            <td >

                <!-- <div class="spinner-border text-success" role="status" style="tranition:none;" *ngIf="cstatus" >
                    <span class="sr-only">hii</span>
                  </div> -->
                  <h6 disabled type="number" >{{e.cibil.cibilScore}}</h6>

            </td>
        </tr>
                         
    </tbody>
</table>

